<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 pt-4">
  <thead
    class="text-xs text-gray-700 capitalize bg-primary-50 dark:bg-gray-700 dark:text-gray-400"
  >
    <tr
      class="bg-gray-50 border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600"
    >
      <th scope="col" class="px-6 py-3 text-md" *ngFor="let hdr of headers">
        {{ hdr }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
      *ngIf="loading"
    >
      <td
        *ngFor="let item of headers; let i = index"
        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
      >
        <div *ngIf="i == 3" class="">
          <app-loading></app-loading>
        </div>
      </td>
    </tr>
    <tr
      class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
      *ngFor="let item of tableData"
      (click)="tableClicked(item)"
    >
      <td
        scope="row"
        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        *ngFor="let label of tableKeys"
      >
        {{ item[label] }}
      </td>
    </tr>
  </tbody>
</table>
